.Title {
    display: flex;
    justify-content: center;
}

.CharacterInputs {
    text-align: center;
    margin: 10px;
}

/*character avatars*/
#char-icons {
    display: flex;
    position: relative;
    justify-content: center;
}

/*highliight avatar on hover*/
#char-icons img:hover{
    background-color: lightcyan;
    opacity: 1.5;
}

/*unorder list for character icons*/
ul#char-icons {
    margin-left: 50px;
}

/*label for character icon contaier */
label.SelectCharIcon p {
    text-align: center;
}

.button {
    width: fit-content;  
    margin: 0 auto;
    display: block;
}

label {
    display:block;
}

input, textarea {
    display: block;
    margin: 0 auto 1em auto;
  }
  

.CharacterText {
    display: block;
    width: 270px;
    height: 90px;
    margin: 0 auto 1em auto;
}

/*This button's position is ABSOLUTE, it's glued to the page. If you want to move it, it has to be redone so it is relative */
.buttonDivChar {
    margin-top: 10px;
    position: absolute;
    top: 120%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

