input {
    justify-content: center;
    position: relative;
    text-align: center;
}

#login-box {
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 0;
}


div.login-text {
    display: flex;
    flex-direction: column;
}

label.login-text {
    margin-left: 15%;
}

#password {
    margin-left: 2%;
}

#login-form {
    padding-left: 13%;
}

label#email, label#password {
    margin-left: 3%;
    margin-right: 0;
}

#forgot {
    display: block;
    margin-bottom: 25px;
}